/* Reusable container for all sections */
.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 4rem 5rem; 
}

@media (max-width: 1024px) {
  .container{
    max-width: 800px;
    margin: 0 auto;
    
  }
}

@media (max-width: 600px) {
  .container{
    max-width: 500px;
    margin: 0 auto;
    
  }
}
